<nav class="bg-white shadow-md sticky top-0 z-50">
  <div class="container mx-auto px-4 py-4 flex justify-between items-center">
    <a
      href="index.html"
      class="text-2xl font-bold text-primary flex items-center space-x-2"
    >
      <img src="/images/logo.png" alt="" class="h-10 w-auto" />
      <span class="text-secondary pr-1">Veltara</span> Consultants
    </a>
    <div class="hidden 2xl:flex space-x-4 xl:space-x-8">
      <a href="index.html" class="text-gray-700 hover:text-primary font-medium">
        <i class="fas fa-home mr-1"></i>
        Home</a
      >
      <a href="about.html" class="text-gray-700 hover:text-primary font-medium">
        <i class="fas fa-users mr-1"></i>
        About Us</a
      >
      <a
        href="services.html"
        class="text-gray-700 hover:text-primary font-medium"
      >
        <i class="fas fa-cog mr-1"></i>
        Services</a
      >
      <a
        href="destinations.html"
        class="text-gray-700 hover:text-primary font-medium"
      >
        <i class="fas fa-globe-americas mr-1"></i>
        Study Destinations
      </a>
      <a
        href="testimonials.html"
        class="text-gray-700 hover:text-primary font-medium"
      >
        <i class="fas fa-comments mr-1"></i>
        Success Stories
      </a>
      <a
        href="contact.html"
        class="text-gray-700 hover:text-primary font-medium"
      >
        <i class="fas fa-headset mr-1"></i>
        Contact</a
      >
    </div>
    <div class="flex items-center gap-3">
      <button
        type="button"
        class="text-white bg-black hover:bg-black/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center flex items-center gap-2"
      >
        <img src="/images/whatsapp-logo.svg" alt="" class="w-5 h-5" />
        <span class="border-l-1 pl-2">WhatsApp Us</span>
      </button>
      <button class="lg:hidden text-gray-700" id="mobile-menu-button">
        <i class="fas fa-bars text-xl"></i>
      </button>
    </div>
  </div>
  <div class="hidden md:flex 2xl:hidden space-x-4 xl:space-x-8">
    <a href="index.html" class="text-gray-700 hover:text-primary font-medium">
      <i class="fas fa-home mr-1"></i>
      Home</a
    >
    <a href="about.html" class="text-gray-700 hover:text-primary font-medium">
      <i class="fas fa-users mr-1"></i>
      About Us</a
    >
    <a
      href="services.html"
      class="text-gray-700 hover:text-primary font-medium"
    >
      <i class="fas fa-cog mr-1"></i>
      Services</a
    >
    <a
      href="destinations.html"
      class="text-gray-700 hover:text-primary font-medium"
    >
      <i class="fas fa-globe-americas mr-1"></i>
      Study Destinations
    </a>
    <a
      href="testimonials.html"
      class="text-gray-700 hover:text-primary font-medium"
    >
      <i class="fas fa-comments mr-1"></i>
      Success Stories
    </a>
    <a href="contact.html" class="text-gray-700 hover:text-primary font-medium">
      <i class="fas fa-headset mr-1"></i>
      Contact</a
    >
  </div>
  <!-- Mobile Menu -->
  <div
    class="lg:hidden hidden bg-white w-full py-2 px-4 shadow-lg"
    id="mobile-menu"
  >
    <a
      href="pages/index.html"
      class="block py-2 text-gray-700 hover:text-primary"
      >Home</a
    >
    <a href="about.html" class="block py-2 text-gray-700 hover:text-primary"
      >About Us</a
    >
    <a href="services.html" class="block py-2 text-gray-700 hover:text-primary"
      >Services</a
    >
    <a
      href="destinations.html"
      class="block py-2 text-gray-700 hover:text-primary"
      >Study Destinations</a
    >
    <a
      href="testimonials.html"
      class="block py-2 text-gray-700 hover:text-primary"
      >Success Stories</a
    >
    <a href="contact.html" class="block py-2 text-gray-700 hover:text-primary"
      >Contact</a
    >
  </div>
</nav>
